﻿<div class="jumbotron">
    <h1>SmartPole API Service</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>This helper site is provided as an online reference for developers using the Smart Pole API service to create applications or to connect devices.</p>
    </div>
</div>
